@page "/weather"


<PageTitle>Another joke</PageTitle>

<h1>There is nothing too, because i don't how to add an image and can't find it on YouTube </h1>
<h2>I will try to find it and make my next work better</h2>


